.converter-container {
  max-width: 500px;
  background: #212529;
  box-shadow: 0 8px 50px -8px rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 8px;
  margin: 32px auto;
  font-family: "Roboto", sans-serif;
}

.converter-container h2 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: normal;
  position: relative;
}

.converter-container h2::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 40px;
  left: 0;
  bottom: -6px;
  background: #ef233c;
}

.converter-container .swap-btn {
  width: 30px;
  border: 1px solid #1d3461;
  padding: 8px;
  cursor: pointer;
  display: flex;
  border-radius: 8px;
}

.converter-container .result {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-block: 16px;
  background: #1d3461;
  color: #fff;
  border-radius: 8px;
}

.converter-container .result-currency {
  font-size: 24px;
  text-transform: uppercase;
}

.converter-container .input-amount-container input {
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #1d3461;
  appearance: none;
  font-size: 30px;
  font-weight: bold;
  padding: 12px 16px;
  flex: 1;
}

.converter-container .input-amount-container {
  display: flex;
  gap: 8px;
}

.dropdown-container {
  box-sizing: border-box;
  margin: 16px auto;
  font-family: "Roboto", sans-serif;
  position: relative;
}

.dropdown-container .options {
  max-height: 300px;
  overflow: scroll;
  box-shadow: 0 8px 40px -8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 54px;
  pointer-events: none;
  opacity: 0;
  background: #fff;
  z-index: 30;
  transition: all 300m ease;
}

.dropdown-container .options.active {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-container .option {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  border-bottom: 1px solid #eee;
}

.dropdown-container .option .flag img {
  height: 32px;
  display: flex;
}

.dropdown-container .input-container {
  display: flex;
  align-items: center;
  position: relative;
}

.dropdown-container .input-flag {
  height: 32px;
  position: absolute;
  left: 8px;
  pointer-events: none;
}

.dropdown-container .input-container input {
  width: 100%;
  padding: 12px 16px;
  padding-left: 48px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
}

.dropdown-container .input-container input:focus {
  outline: 1px solid #0303bd;
}
