body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}

.productName{
   font-weight: bold;

}

.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 250px 250px 250px;
}

.Price{
  font-weight: bold;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}


button{
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(71, 99, 255);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin: 10px;

	transition: background .2s linear;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	margin: 1px;
	transition: background .2s linear;
}

button:hover{
	background: lightgreen;
}

.btn:hover {
	background: lightgreen;
}

.usercard {
	text-align: center;
}
















